# Blocca l'accesso diretto via browser al database e a qualunque file in questa cartella.
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
</IfModule>
